In [1169]:
import re
import sys

import time
import datetime

import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

from sklearn import metrics
from sklearn import preprocessing
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
# Loading the data
df = pd.read_csv('Top 1000 IMDb movies.csv')

In [1170]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1000 non-null   int64
 1   Movie_Name        1000 non-null   object
 2   Year_of_Release   1000 non-null   int64
 3   C_Rating          984 non-null    object
 4   Watch_Time_(min)  1000 non-null   int64
 5   Genre             1000 non-null   object
 6   Movie_Rating      1000 non-null   float64
 7   Metascore         844 non-null    float64
 8   Votes             1000 non-null   int64
 9   Gross_($M)        814 non-null    float64
 10  Description       1000 non-null   object
dtypes: float64(3), int64(4), object(4)
memory usage: 86.1+ KB

In [1171]:
df.head(20)

,Unnamed: 0,Movie_Name,Year_of_Release,C_Rating,Watch_Time_(min),Genre,Movie_Rating,Metascore,Votes,Gross_($M),Description
0,0,The Shawshank Redemption,1994,R,142,Drama,9.3,82.0,2735235,28.34,"Over the course of several years, two convicts..."
1,1,The Godfather,1972,R,175,"Crime, Drama",9.2,100.0,1902109,134.97,The aging patriarch of an organized crime dyna...
2,2,The Dark Knight,2008,PG-13,152,"Action, Crime, Drama",9.0,84.0,2708419,534.86,When the menace known as the Joker wreaks havo...
3,3,Schindler's List,1993,R,195,"Biography, Drama, History",9.0,95.0,1380843,96.90,"In German-occupied Poland during World War II,..."
4,4,The Lord of the Rings: The Return of the King,2003,PG-13,201,"Action, Adventure, Drama",9.0,94.0,1881383,377.85,Gandalf and Aragorn lead the World of Men agai...
5,5,12 Angry Men,1957,Approved,96,"Crime, Drama",9.0,97.0,809518,4.36,The jury in a New York City murder trial is fr...
6,6,The Godfather Part II,1974,R,202,"Crime, Drama",9.0,90.0,1296679,57.30,The early life and career of Vito Corleone in ...
7,7,Pulp Fiction,1994,R,154,"Crime, Drama",8.9,95.0,2101929,107.93,"The lives of two mob hitmen, a boxer, a gangst..."
8,8,Inception,2010,PG-13,148,"Action, Adventure, Sci-Fi",8.8,74.0,2404179,292.58,A thief who steals corporate secrets through t...
9,9,Fight Club,1999,R,139,Drama,8.8,66.0,2177808,37.03,An insomniac office worker and a devil-may-car...
10,10,The Lord of the Rings: The Fellowship of the Ring,2001,PG-13,178,"Action, Adventure, Drama",8.8,92.0,1910207,315.54,A meek Hobbit from the Shire and eight compani...
11,11,Forrest Gump,1994,PG-13,142,"Drama, Romance",8.8,82.0,2128491,330.25,"The presidencies of Kennedy and Johnson, the V..."
12,12,"The Good, the Bad and the Ugly",1966,Approved,178,"Adventure, Western",8.8,90.0,774990,6.10,A bounty hunting scam joins two men in an unea...
13,13,The Lord of the Rings: The Two Towers,2002,PG-13,179,"Action, Adventure, Drama",8.8,87.0,1698350,342.55,While Frodo and Sam edge closer to Mordor with...
14,14,Jai Bhim,2021,TV-MA,164,"Crime, Drama, Mystery",8.8,NaN,206160,NaN,When a tribal man is arrested for a case of al...
15,15,777 Charlie,2022,NaN,164,"Adventure, Comedy, Drama",8.8,NaN,34505,NaN,Dharma is stuck in a rut with his negative and...
16,16,Rocketry: The Nambi Effect,2022,NaN,157,"Biography, Drama",8.8,NaN,52856,NaN,Based on the life of Indian Space Research Org...
17,17,The Matrix,1999,R,136,"Action, Sci-Fi",8.7,73.0,1951328,171.48,When a beautiful stranger leads computer hacke...
18,18,Goodfellas,1990,R,145,"Biography, Crime, Drama",8.7,92.0,1187250,46.84,The story of Henry Hill and his life in the mo...
19,19,One Flew Over the Cuckoo's Nest,1975,R,133,Drama,8.7,84.0,1025777,112.00,"In the Fall of 1963, a Korean War veteran and ..."

In [1172]:
df.isnull().sum()

Unnamed: 0            0
Movie_Name            0
Year_of_Release       0
C_Rating             16
Watch_Time_(min)      0
Genre                 0
Movie_Rating          0
Metascore           156
Votes                 0
Gross_($M)          186
Description           0
dtype: int64

Missing Value Imputation

In [1173]:
df['Metascore'] = df['Metascore'].fillna(0)

In [1174]:
df['Gross_($M)'] = df['Gross_($M)'].fillna(df['Gross_($M)'].median())

In [1175]:
#Replacing the content rating with Value R as it has highest frequency
df["C_Rating"] = df["C_Rating"].fillna("R")

Label Encoding

In [1176]:
le = preprocessing.LabelEncoder()
df['Movie_Name'] = le.fit_transform(df['Movie_Name'])

In [1177]:
le = preprocessing.LabelEncoder()
df['C_Rating'] = le.fit_transform(df['C_Rating'])

In [1178]:
le = preprocessing.LabelEncoder()
df['Genre'] = le.fit_transform(df['Genre'])

In [1179]:
le = preprocessing.LabelEncoder()
df['Description'] = le.fit_transform(df['Description'])

Outliers

In [1180]:
df_outliers = df.copy()

In [1181]:
uppper_boundary=df_outliers['Year_of_Release'].mean() + 3* df_outliers['Year_of_Release'].std()
lower_boundary=df_outliers['Year_of_Release'].mean() - 3* df_outliers['Year_of_Release'].std()
print(lower_boundary), print(uppper_boundary)

df_outliers.loc[df_outliers['Year_of_Release']>=uppper_boundary, 'Year_of_Release']=uppper_boundary
df_outliers.loc[df_outliers['Year_of_Release']<=lower_boundary, 'Year_of_Release']=lower_boundary

1919.3236658402664
2063.9503341597338

In [1182]:
uppper_boundary=df_outliers['Watch_Time_(min)'].mean() + 3* df_outliers['Watch_Time_(min)'].std()
lower_boundary=df_outliers['Watch_Time_(min)'].mean() - 3* df_outliers['Watch_Time_(min)'].std()
print(lower_boundary), print(uppper_boundary)

df_outliers.loc[df_outliers['Watch_Time_(min)']>=uppper_boundary, 'Watch_Time_(min)']=uppper_boundary
df_outliers.loc[df_outliers['Watch_Time_(min)']<=lower_boundary, 'Watch_Time_(min)']=lower_boundary

37.966799921496616
210.23920007850336

Feature selection

In [1183]:
features = ['Year_of_Release', 'C_Rating', 'Watch_Time_(min)', 'Genre', 'Metascore', 'Votes', 'Gross_($M)']
X = df_outliers[features]
y = df_outliers['Movie_Rating']

In [1184]:
df.head(20)

,Unnamed: 0,Movie_Name,Year_of_Release,C_Rating,Watch_Time_(min),Genre,Movie_Rating,Metascore,Votes,Gross_($M),Description
0,0,866,1994,9,142,133,9.3,82.0,2735235,28.34,741
1,1,758,1972,9,175,120,9.2,100.0,1902109,134.97,794
2,2,730,2008,7,152,20,9.0,84.0,2708419,534.86,973
3,3,609,1993,9,195,84,9.0,95.0,1380843,96.90,632
4,4,812,2003,7,201,4,9.0,94.0,1881383,377.85,594
5,5,0,1957,0,96,120,9.0,97.0,809518,4.36,815
6,6,759,1974,9,202,120,9.0,90.0,1296679,57.30,807
7,7,562,1994,9,154,120,8.9,95.0,2101929,107.93,826
8,8,358,2010,7,148,9,8.8,74.0,2404179,292.58,301
9,9,262,1999,9,139,133,8.8,66.0,2177808,37.03,476
10,10,811,2001,7,178,4,8.8,92.0,1910207,315.54,173
11,11,271,1994,7,142,166,8.8,82.0,2128491,330.25,833
12,12,761,1966,0,178,59,8.8,90.0,774990,6.10,41
13,13,813,2002,7,179,4,8.8,87.0,1698350,342.55,979
14,14,376,2021,11,164,125,8.8,0.0,206160,23.36,967
15,15,14,2022,9,164,38,8.8,0.0,34505,23.36,546
16,16,589,2022,9,157,82,8.8,0.0,52856,23.36,518
17,17,826,1999,9,136,33,8.7,73.0,1951328,171.48,955
18,18,296,1990,9,145,81,8.7,92.0,1187250,46.84,845
19,19,524,1975,9,133,133,8.7,84.0,1025777,112.00,669

In [1185]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 52)

In [1186]:
from sklearn.pipeline import make_pipeline

In [1187]:
# create a pipeline object
pipe = make_pipeline(
RandomForestRegressor()
)
pipe.fit(X_train, y_train)
print(pipe.score(X_test, y_test))

0.6607554017700936

In [1188]:
# create a pipeline object
pipe = make_pipeline(
KNeighborsRegressor()
)
pipe.fit(X_train, y_train)
print(pipe.score(X_test, y_test))

0.18951939016066288

Feature Transformation

In [1189]:
from sklearn.preprocessing import RobustScaler
# create a pipeline object
pipe = make_pipeline(
RobustScaler(),
RandomForestRegressor()
)

pipe.fit(X_train, y_train)
print(pipe.score(X_test, y_test))

0.665061230576858

In [1190]:
# create a pipeline object
pipe = make_pipeline(
RobustScaler(),
KNeighborsRegressor()
)
pipe.fit(X_train, y_train)
print(pipe.score(X_test, y_test))

0.5467675417715858

Metrics

In [1191]:
pipe = make_pipeline(
RobustScaler(),
RandomForestRegressor()
)
pipe.fit(X_train, y_train)

Pipeline(steps=[('robustscaler', RobustScaler()),
                ('randomforestregressor', RandomForestRegressor())])

In [1192]:
predictions = pipe.predict(X_test)
'Mean Absolute Error:', metrics.mean_absolute_error(y_test, predictions)

('Mean Absolute Error:', 0.1301666666666667)

In [1193]:
'Mean Squared Error:', metrics.mean_squared_error(y_test, predictions)

('Mean Squared Error:', 0.027681966666666624)

In [1194]:
'Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, predictions))

('Root Mean Squared Error:', 0.16637898505119758)

In [1195]:
'R2 Score:', metrics.r2_score(y_test, predictions)

('R2 Score:', 0.6427436747523536)

In [1196]:
pipe = make_pipeline(
RobustScaler(),
KNeighborsRegressor()
)
pipe.fit(X_train, y_train)

Pipeline(steps=[('robustscaler', RobustScaler()),
                ('kneighborsregressor', KNeighborsRegressor())])

In [1197]:
predictions = pipe.predict(X_test)
'Mean Absolute Error:', metrics.mean_absolute_error(y_test, predictions)

('Mean Absolute Error:', 0.14846666666666658)

In [1198]:
'Mean Squared Error:', metrics.mean_squared_error(y_test, predictions)

('Mean Squared Error:', 0.03511866666666664)

In [1199]:
'Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, predictions))

('Root Mean Squared Error:', 0.18739975097813402)

In [1200]:
'R2 Score:', metrics.r2_score(y_test, predictions)

('R2 Score:', 0.5467675417715858)